@import "../../../styles.scss";

.test {
    background-color: $dark-secondary;
    height: 350px;
}

.test-2 {
    background-color: $scrollbar-primary;
    padding-top: 27.5em;
    height: 350px;
}

@media (max-width: 2560px) {
    .test-2 {
        padding-top: 20em;
    }
}

@media (max-width: 1900px) {
    .test-2 {
        padding-top: 15em;
    }
}

@media (max-width: 1440px) {
    .test-2 {
        padding-top: 12em;
    }
}

@media (max-width: 1024px) {
    .test-2 {
        padding-top: 8.5em;
    }
}

@media (max-width: 768px) {
    .test-2 {
        padding-top: 7em;
    }
    
}

@media (max-width: 575px) {
    .test-2 {
        padding-top: 6em;
    }
    
}

@media (max-width: 425px) {
    .test-2 {
        padding-top: 4.5em;
    }
    
}

.custom-shape-divider-top-1637351760 {
    position: absolute;
    width: 100%;
    overflow: visible;
    line-height: 0;

    .shape-fill {
        fill: $background;
    }
}