@import "../../../../styles.scss";

.linear-divider {
    background-color: $background;
    height: 2.5px;

    span {
        display: block;
        height: 2.5px;
        border-radius: 2.5px;
        background-color: $primary;
    }
}