@import "../../../../styles.scss";

mat-toolbar {
    background-color: $background;

    .nav-bar-header {
        display: flex;
        flex-direction: row;

        .logo {
            padding-left: 15px;
            height: .8em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .toolbar {
        margin-left: auto;
        display: flex;
        flex-direction: row;

        .toolbar-item {
            padding: 10px 25px;

            &:hover {
                cursor: pointer;

                span {
                    color: $secondary;
                    position: relative;
                    animation-name: onHoverLink;
                    animation-duration: .2s;
                    animation-timing-function: linear;
                }
            }

            a {
                text-decoration: none;
            }

            span {
                font-size: .85em;
                font-weight: bold;
                color: $primary;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-bar-header {
        align-items: center;
        justify-content: center;
        width: 100%;

        a {
            display: flex;
            align-items: center;
        }

        .burger-menu {
            margin-left: auto;
            color: $primary;

            &:hover {
                color: $secondary;
                cursor: pointer;
            }
        }
    }

    .nav-bar-header-visible {
        margin-top: 9px;
    }

    .mat-toolbar {
        margin-left: 0;
        min-height: 64px;
        height: auto !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .logo {
            padding: 15px;
            height: 1em;
            align-self: center;

            &:hover {
                cursor: pointer;
            }
        }

        .toolbar {
            margin-left: 0;
            flex-direction: column;

            .toolbar-item {
                padding: 5px 10px;

                &:first-of-type {
                    padding-top: 10px;
                }

                &:last-of-type {
                    padding-bottom: 25px;
                }

                &:hover {    
                    span {
                        animation-name: onHoverLinkMobile;
                    }
                }
            }
        }
    }
}


@keyframes onHoverLink {
    0% {
        top: 0;
    }

    25% {
        top: -40px;
    }

    50% {
        top: -20px;
    }

    75% {
        top: 40px;
    }

    100% {
        top: 0;
    }
}

@keyframes onHoverLinkMobile {
    0% {
        left: 0;
    }

    25% {
        left: -40px;
    }

    50% {
        left: -20px;
    }

    75% {
        left: 40px;
    }

    100% {
        left: 0;
    }
}