<mat-toolbar>
    <div class="nav-bar-header" [ngClass]="isItemsVisible ? 'nav-bar-header-visible': ''">
        <a href="">
            <img src="assets/logo.png" class="logo">
        </a>

        <div class="burger-menu" *ngIf="isMobile">
            <button mat-icon-button (click)="isItemsVisible = !isItemsVisible">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
    <div class="toolbar" *ngIf="isItemsVisible">
        <div class="toolbar-item">
            <a href="#about"><span>A propos</span></a>
        </div>
        <div class="toolbar-item">
            <a href="#trainings"><span>Formations</span></a>
        </div>
        <div class="toolbar-item">
            <a href="#experiences"><span>Experiences</span></a>
        </div>
        <div class="toolbar-item">
            <a href="#projects"><span>Projets</span></a>
        </div>
        <div class="toolbar-item">
            <a href="#blog"><span>Blog</span></a>
        </div>
    </div>
</mat-toolbar>