<!--  -->
<mat-card [@onVisibleAnimation]="isAnimating ? 'visible' : 'hidden'" (window:scroll)="animate()" class="resume-card">
    <h4>{{ title }}</h4>

    <mat-card-content>
        <h6 *ngIf="subtitle">{{ subtitle }}</h6>
        <i *ngIf="date">{{ date }}</i>
        <p *ngIf="description">{{ description }}</p>
    </mat-card-content>
</mat-card>