@import "../../../../../styles.scss";

.resume-card {
    margin: 5px;
    background-color: $background-secondary;
    
    h6 {
        padding-left: .25rem;
    }
    
    p,
    i {
        font-size: .8em;
        padding-left: .25em;
        margin: 0;
    }
    
    i {
        color: darkgrey;
    }
    
    p {
        margin-top: .25em;
    }

    &::before {
        content: "";
        border: solid .125rem;
        width: .5rem;
        height: .5rem;
        border-radius: 3.125rem;
        -moz-border-radius: 3.125rem;
        -webkit-border-radius: 3.125rem;
        font-size: .5rem;
        font-weight: 400;
        background: $background;
        display: block;
        position: absolute;
        margin-left: -6.26em;
        margin-top: .25em;
        border-color: $primary;
    }
}
