@import "../../../../styles.scss";

.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    margin-top: 50px;

    .col-2 {
        flex: 0 1 calc(45% - 50px);

        &:first-of-type {
            margin-right: 50px;
        }
    }

    .title {
        display: flex;
        align-items: center;
        position: relative;
        top: 1.5em;

        h3 {
            margin: 0;
            padding: 0 1em;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 1.5em;
        }
    }

    .list {
        padding: 1em;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        .list-item {
            padding: 1em;
            border-left: solid 1px $secondary;
            min-width: 350px;

            &:first-of-type {
                padding-top: 2em;
            }

            
        }
    }
}

@media (max-width: 1024px) {
    .resume {
        .col-2 {
            flex: 0 1 calc(75%);

            &:first-of-type {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 575px) {
    .resume {
        .col-2 {
            flex: 0 1 calc(90%);
        }
        .list {
            .list-item {
                min-width: 0;
            }
        }
    }
}

@media (max-width: 375px) {
    .resume {
        .col-2 {
            flex: 0 1 calc(98%);
        }

        .list {
            .list-item {
                min-width: 0;
            }
        }
    }
}