<div class="resume">
    <div id="trainings" class="trainings col-2">
        <div class="title">
            <mat-icon>school</mat-icon>
            <h3>Formations</h3>
        </div>

        <div class="list">
            <div *ngFor="let training of trainings" class="list-item">
                <resume-card [title]="training.title" [subtitle]="training.subtitle" [date]="training.date"
                    [description]="training.description"></resume-card>
            </div>
        </div>
    </div>
    <div id="experiences" class="experiences col-2">
        <div class="title">
            <mat-icon>dvr</mat-icon>
            <h3>Experiences</h3>
        </div>

        <div class="list">
            <div *ngFor="let experience of experiences" class="list-item">
                <resume-card [title]="experience.title" [subtitle]="experience.subtitle" [date]="experience.date"
                    [description]="experience.description"></resume-card>
            </div>
        </div>
    </div>
</div>