/* You can add global styles to this file, and also import other style files */
$background: #FFFFFF;
$background-secondary: #f2f2f2;
$primary: #0D4CFC;
$secondary: #171010;
$terciary: #423F3E;
$success: #4E9F3D;
$warn: #FFAC41;
$error: #F05454;

$scrollbar-background: #f1f1f1;
$scrollbar-primary: #888;
$scrollbar-secondary: #555;

$dark-primary: #171010;
$dark-secondary: #081013;
$dark-terciary: #423F3E;
$dark-success: #4E9F3D;
$dark-warn: #FFAC41;
$dark-error: #F05454;

// width
::-webkit-scrollbar {
    width: 0.625em;
}

// Track
::-webkit-scrollbar-track {
    background: $scrollbar-background;
}

// Handle
::-webkit-scrollbar-thumb {
    background: $secondary;
}

//Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: $terciary;
}


html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: $background;
}